* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 19px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding-inline-start: 0px;
    list-style-type: none;
}

/* name of page */

.container-search__content {
    padding: 26px 0 20px;
}

.container-search__path {
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.container-search__main-path {
    font-weight: 400;
    opacity: 0.5;
}

.container-search__title {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 44px;
    line-height: 54px;
    padding-top: 5px;
}

.container-search__filter {
    display: flex;
    padding-top: 24px;
}

.container-search__name {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding-left: 10px;
}

/* bottom of container-search  */

.container-search-bottom {
    height: 60px;
}

.container-search-bottom__content {
    background-color: #ebebeb;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
}

.container-search-bottom__sort-block {
    display: inline-flex;
    align-items: center;
}

.container-search-bottom__sort-name {
    font-size: 16px;
    height: 22px;
    padding-right: 24px;
}

.container-search-bottom__form {
    background-color: #fff;
}

.container-search-bottom-item {
    border-radius: 3px;
    height: 44px;
    width: 273px;
    padding-left: 16px;
    font-size: 15px;
    opacity: 0.6;
    border: none;
}

/* tile of products */

.tile-products__content {
    padding-top: 55px;
    padding-bottom: 63px;
    font-family: "Montserrat", sans-serif;
}

.tile-products__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tile-products__item {
    width: 370px;
    height: 387px;
    box-shadow: 1px 1px 3px #707070;
    position: relative;
    margin-bottom: 40px;
}

.tile-products__icons {
    margin-top: 15px;
    margin-right: 21px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    width: 65px;
    justify-content: space-between;
    align-items: center;
}

.tile-products__img-product img {
    display: block;
    margin: 0 auto;
    padding-top: 35px;
}

.tile-products__change-color {
    display: flex;
    justify-content: space-between;
    max-width: 68px;
    margin: 20px auto;
}

.tile-products__change-color img {
    width: 15px;
    height: 15px;
}

.tile-products__change-color-wrapper {
    line-height: 0;
}

.tile-products__title-product {
    padding: 0 0 16px 28px;
}

.tile-products__mark {
    display: flex;
    padding-left: 28px;
    align-items: center;
}

.tile-products__review {
    display: block;
    font-size: 10px;
    opacity: 0.7;
    font-weight: 400;
    line-height: 13px;
    height: 13px;
    padding-left: 6px;
}

.tile-products__price {
    position: absolute;
    bottom: 0;
    margin: 13px 0 25px 28px;
    font-size: 18px;
}

.tile-products__price-sale {
    color: #ff0000;
}

.tile-products__btn {
    position: absolute;
    display: inline-block;
    font-size: 16px;
    border: 3px solid #42cf92;
    padding: 5px 18px;
    bottom: 0;
    right: 0;
    margin: 0 21px 19px 0;
}

.tile-products__btn-see-more a {
    display: flex;
    align-items: center;
    padding-top: 40px;
    width: 253px;
    margin: 0 auto;
}

.tile-products__btn-link {
    font-size: 24px;
    font-weight: 400;
    padding-left: 10px;
}



/* =========================================== */

@media (max-width: 1200px) {
    .tile-products__main {
        display: flex;
        width: 770px;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
        padding-left: 27px;
        padding-right: 27px;
    }

    .tile-products__icons {
        width: 75px;
    }
}

@media (max-width: 900px) {

    .container-search-bottom-item {
        width: 240px;
    }

    .container-search-bottom__sort-name {
        font-size: 14px;
        padding-right: 13px;
    }
}

@media (max-width: 840px) {
    .tile-products__main {
        display: block;
        flex-wrap: wrap;
        width: 370px;
        margin: 0 auto;
    }
}

@media (max-width: 785px) {
    .container-search-bottom-item {
        width: 200px;
    }
}

@media (max-width: 685px) {

    .sort-block-unique {
        display: none;
    }

    .container-search-bottom-item {
        width: 300px;
    }

    .tile-products__btn-see-more a {
        padding-top: 10px;
    }
}


@media (max-width: 585px) {
    .tile-products__icons {
        margin-top: 15px;
        margin-right: 21px;
        right: 0;
        top: 0;
        width: 25px;
        align-items: center;
    }

    .tile-products__icons img {
        width: 25px;
        height: 25px;
    }

    .tile-products__icon-compare {
        display: none;
    }

    .tile-products__btn {
        padding: 10px 22px;
    }
}


@media (max-width: 499px) {
    .container {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .tile-products__item {
        width: 345px;
    }

    .tile-products__content {
        padding: 50px 0;
    }
    .tile-products__main {
        width: 345px;
    }

    .container-search__title {
        font-size: 36px;
    }

    .container-search-bottom-item {
        width: 181px;
    }

    .container-search-bottom__content {
        width: 100%;
        margin: 0 auto;
    }

    .container-search-bottom__sort-name {
        padding-right: 18px;
    }

    .tile-products__item {
        margin-bottom: 30px;
    }

    .tile-products__btn-link {
        font-size: 22px;
    }

    .tile-products__btn-see-more a {
        width: 228px;
    }
}

@media (max-width: 374px) {
    .tile-products__item {
        width: 290px;
    }

    .tile-products__main {
        width: 290px;
    }
    .tile-products__title-line {
        width: 10%;
    }
}
