* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 19px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding-inline-start: 0px;
    list-style-type: none;
}


/* Contact me */

.contact {
    font-size: 16px;
}

.contact__description {
    line-height: 22px;
    max-width: 297px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;

}

.title {
    font-size: 44px;
    line-height: 54px;
    font-family: "Montserrat", sans-serif;

    font-weight: 400;
}

.contact__background-img {
    background-image: url(../images/contact-background-img.png);
}

.contact__content {
    padding-top: 93px;
    padding-bottom: 98px;
}

.line-under {
    border-bottom: 2px solid;
    border-radius: 20px;
    margin-top: 4.5px;
    margin-bottom: 14.5px;
}

.contact__line-under {
    max-width: 210px;
}

.contact__description {
    line-height: 22px;
    max-width: 405px;
}

.contact__middle-section {
    display: flex;
}

.contact__form {
    max-width: 570px;
    margin: 44px 90px 44px 0;
}

.form__item {
    width: 269px;
    height: 55px;
    border: 1px solid #dbd6d6;
    padding-left: 11px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    opacity: 0.7;
}

.form__item-unique{
    margin-left: 27px;
    margin-bottom: 20px;
}

.textarea {
    width: 570px;
    height: 111px;
    resize: none;
    overflow: hidden;
    padding: 10px;
}

.contact__data {
    margin-top: 44px;
}

.contact__list-item {
    display: flex;
    margin-bottom: 25px;
    max-height: 25px;
}

.contact__item-description {
    line-height: 22px;
    font-weight: 600;
    padding-left: 15px;
}

.section-btn {
    font-weight: 600;
    color: black;
    display: inline-block;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #707070;
    box-shadow: 0 0 3px #000000;
    line-height: 22px;
}

.contact__btn {
    margin-top: 30px;
    padding: 13px 30px;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
}

@media (max-width: 1050px) {
    .contact__form {
        margin: 44px 0;
    }
    .contact__middle-section{
        justify-content: space-between;
    }

}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
        padding-left: 27px;
        padding-right: 27px;
    }
}

@media (max-width: 999px) {
    .contact__middle-section{
        display: block;
    }

    .contact__list{
        margin-top: 50px;
    }
}

@media (max-width: 670px) {
   .form__item{
       width: 230px;
   }
    .textarea{
        width: 490px;
    }
}

@media (max-width: 565px) {
    .contact__content{
        padding: 60px 0;
    }

    .form__item{
        display: block;
        margin: 15px 0 0 0;
    }

    .form__item{
        width: 400px;
    }

    .contact__item-description{
        font-size: 14px;
    }

    .contact__icon{
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 470px) {
    .form__item{
        width: 350px;
    }
}

@media (max-width: 399px) {
    .form__item{
        width: 320px;
    }

    .title{
        font-size: 34px;
    }

    .contact__line-under{
        width: 160px;
    }

    .contact__description{
        font-size: 14px;
    }

    .contact__list-item{
        margin-bottom: 15px;
    }
}

@media (max-width: 359px) {
    .form__item{
        width: 290px;
    }

}
